<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865776533202-20lvc0shjed2f6p4hfk3gppbieg8a1oq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865776533202-20lvc0shjed2f6p4hfk3gppbieg8a1oq</string>
	<key>API_KEY</key>
	<string>AIzaSyAuAcdw88CacZiK91yXIc97bs-suN1wQpc</string>
	<key>GCM_SENDER_ID</key>
	<string>865776533202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apcsaQuiz</string>
	<key>PROJECT_ID</key>
	<string>apcsa-quiz-app-7ddec</string>
	<key>STORAGE_BUCKET</key>
	<string>apcsa-quiz-app-7ddec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865776533202:ios:d7e178ed5af4379702b70b</string>
</dict>
</plist>